<div class="container-fluid my-navbar">
  <div class="row">
    <div class="col-8 text-center">
      <button type="button" class="btn btn-primary nav-but" routerLink="/">Notes</button>
      <button type="button" class="btn btn-primary nav-but" routerLink="/yourFiles">Your Images</button>
      <button type="button" class="btn btn-primary nav-but" routerLink="/upload">Upload Images</button>
      <button type="button" class="btn btn-primary nav-but" routerLink="/login">Login</button>
      <button type="button" class="btn btn-primary nav-but" routerLink="/register">Register</button>
    </div>
    <div class="col-4 text-center">
      IMG, login
    </div>
  </div>
</div>
