<div class="container">
  <div class="row text-center">
    <div class="col-6 margin-center">
      <h1>
        Login to your account
      </h1>
      <form id="loginFormData" #loginData="ngForm" (ngSubmit)="loginUser(loginData.value)">
        <input class="my-input" placeholder="login" name="login" type="text" ngModel>
        <input class="my-input" placeholder="password" name="password" type="password" ngModel>
        <input type="submit" value="Login" class="my-submit btn btn-success">
      </form>
    </div>
  </div>
</div>
